.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 300px;
  padding: 10px;
  color: gray;
  background-color: white;
  transform: translateX(-100%);
}

.sidebar__container {
  position: relative;
}

.sidebar--visible {
  transform: inherit;
}

.sidebar--hidden {
  transform: translateX(-100%) !important;
}

.filter {
  width: 20px;
  margin-left: 5px;
}

.menu {
  color: grey;
  width: 16px;
}

.btn--close {
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -12px;
  z-index: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: unset;
}

.close--icon {
  color: grey;
  width: 16px;
}

.search {
  display: flex;
  position: relative;
}

.search--input {
  flex-grow: 1;
}

.search--result {
  cursor: pointer;
  margin-bottom: 5px;
}

.sidebar__btn--expand {
  position: absolute;
  left: 103%;
  z-index: 1;
  cursor: pointer;
  height: 40px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.9)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQ…ueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==)
    7px center/7px 10px no-repeat;
}
