* { 
  /* border: 1px solid goldenrod;  */
}

.app {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

.mleft {
  margin-left: 320px;
}

.no-mleft {
  margin-left: 0 !important;
}

.hidden {
  display: none;
}
