* { 
  /* border: 1px solid goldenrod;  */
}

.app {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  padding: 10px;
  color: gray;
  transform: translateX(-100%);
  width: 300px;
}

.sidebar__container {
  position: relative;
}

.sidebar--visible {
  transform: inherit;
}

.sidebar--hidden {
  transform: translateX(-100%) !important;
}

.filter {
  width: 20px;
  margin-left: 5px;
}

.menu {
  color: grey;
  width: 16px;
}

.close--btn {
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -12px;
  z-index: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: unset;
}

.close--icon {
  color: grey;
  width: 16px;
}

.search {
  display: flex;
  position: relative;
}

.search--input {
  flex-grow: 1;
}

.search--result {
  cursor: pointer;
  margin-bottom: 5px;
}

.sidebar__btn--expand {
  position: absolute;
  left: 103%;
  z-index: 1;
  cursor: pointer;
  height: 40px;
  padding: 4px;
}

.map {
  position: relative;
  height: 100vh;
  flex-grow: 1;
}

ul {
  list-style: none;
  padding: 0;
}

.mleft {
  margin-left: 320px;
}

.no-mleft {
  margin-left: 0 !important;
}

.hidden {
  display: none;
}
