* { border: 1px solid goldenrod; }

.app {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: gray;
}

.filter {
  width: 20px;
  margin-left: 5px;
}

.search {
  display: flex;
}

.search--input{
  flex-grow: 1;
}

.app > div {
  position: relative;
  height: 100vh;
  flex-grow: 1;
}
